.subs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.heading {
  font-size: 16px;
  margin: 0 auto;
  padding: 5px 0;
  color: #3c4852;
}
.useroptions {
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  margin: 0 auto;
}
.useroptions span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.useroptions h1 {
  background-color: #0096ff;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  color: white;
}
.useroptions p {
  font-size: 12px;
}
.subscription_option {
  position: relative;
  display: flex;
  height: 52px;
  align-items: center;
  width: 100%;
  border: 3px solid #bebebe;
  border-radius: 5px;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}
.subscription_option span {
  display: flex;
  align-items: center;
}
.title {
  font-size: 14px;
  font-weight: 600;
  color: #3c4852;
}

.total {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.total p {
  display: flex;
  align-items: end;
  font-size: 12px;
  gap: 10px;
  color: grey;
}

.total h2 {
  font-size: 12px;
}
.titledisabled {
  color: gray;
}
.caption {
  position: absolute;
  top: 0;
  font-size: 10px;
  padding: 2px 20px;
  left: 15%;
  font-weight: 400;
  text-transform: capitalize;
}
.danger {
  background-color: #f77171;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
}
.success {
  background-color: #47ba68;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
}
.checkbox {
  height: 20px;
  width: 20px;
  border: 2px solid grey;
  border-radius: 50%;
  margin-right: 10px;
}
.disabled {
  color: grey;
  background-color: #e7e7e7;
  cursor: not-allowed;
  opacity: 0.8;
}
.active {
  background-color: #d7eddd;
  border-color: #47ba68;
}
.statusicon {
  margin-right: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.optioned {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fee {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #bebebe;
  font-size: 14px;
  padding: 5px 20px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10px 0;
  margin-top: 30px;
}
.cancel {
  color: #de4313;
  border: 2px solid #de4313;
  padding: 10px 0;
  border-radius: 4px;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
}
.proceed {
  color: white;
  background-color: #47ba68;
  border: none;
  padding: 10px 0;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.offerzone {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: linear-gradient(to bottom right, #de4313, #fec163);
}
.offer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2px;
  background-color: #fabdbd;
  border-radius: 6px;
  border: none;
  padding: 6px 0;
}
.offer span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}
.offer h1 {
  font-size: 14px;
  color: #de4313;
}
.alerthead {
  display: flex;
  align-items: center;
  padding: 5px 20px;
}
.clockicon {
  color: #de4313;
  margin: 0 5px;
}
.alerthead p {
  color: #de4313;
  font-size: 12px;
}
.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}
.amount h1 {
  display: flex;
  font-size: 14px;
  color: #3c4852;
}
.amount p {
  color: gray;
  font-weight: 500;
}
.payimg {
  width: 100px;
  height: 40px;
}
